@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

.more-btn {   
    display: inline-flex;
    margin-left: 11px;
    text-decoration: none;
}

.heading-news {
    padding-left: 10px;
}

.list-item{
    display: block;
    line-height: 40pt;
}

.new-desc {
    font-size: 12pt;
    line-height: 16pt;
    font-family: serif;
}
.example-spacer {
    flex: 1 1 auto;
}
  
.img-article{
    max-height: 350px;
}

.action-buttons{
    text-align: center;
}

.example-container {
    width: 100%;
    height: auto;
    border: 1px solid rgba(111, 111, 111, 0.50);
}

.example-sidenav-content {
    display: flex;
    height: 75%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.source-name {
    margin-left:5px;
}

.list-item:hover{
    cursor: pointer;
    font-weight: bold;
    color: blue;
    display: block;
}


.likes-btn {
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    background: transparent;
    border: none;
    text-align: left;
}

.example-card {
    margin-bottom: 10px;
    margin-top: 10px;
}

.example-header-image {
    background-size: cover;
}

.title {
    font-weight: bold;
}
.menu-button {
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    background: transparent;
    border: none;
    text-align: left;
    color: white;
}

.mat-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)!important;
    transition: 0.3s;
}

.mat-card-header-text {
    margin: 0 0px!important;
}
